.site-footer {
  background: #f2f2f2;
  text-align: center;
  padding: 25px 0;

  &__logo svg {
    height: 30px;
  }

  &__nav {
    margin-top: 15px;

    li {
      display: inline-block;
    }
  }

  &__nav-items {
    padding: 0 8px;
    transition: color .3s ease;

    &:hover {
      color: $red;
    }
  }
}

@include breakpoint(xs) {
  .site-footer {
    &__nav {
      li {
        display: block;
        margin: 15px 0;
      }
    }
  }
}
