.article-content {

  &__image {
    width: 100%;
    height:auto;
  }

  h1 {
    @extend .article-title;
    @extend .news-title;
    @include font-size(40px);
  }

  h2 {
    @extend .news-title;
    @include font-size(30px);
  }

  h3 {
    @extend .news-title;
    @include font-size(26px);
  }

  h4 {
    @extend .body;
    @include font-size(26px);
  }

  h5 {
    @extend .body;
    @include font-size(24px);
  }

  h6 {
    @extend .body;
    @include font-size(20px);
  }

  blockquote {
    @extend .blockquote;

    p {
      @include font-size(18px);
    }
  }

  p, li {
    @extend .body;
    @include font-size(16px);
  }

  a {
    @extend .link;
  }

  img {
    @extend .article-content__image;
  }

  .container {
    max-width: 850px;
  }

  .body, .news-title {
    padding: 0 40px;
    text-align: left;
  }

  .news-title {
    line-height: 40px;
  }

  .body {
    line-height: 25px;
  }

  ul, ol {
    text-align: left;
    padding-left: 75px;

    li {
      margin: 10px 0;
    }

    .body {
      padding: 0 10px;
    }
  }

  .blockquote {
    margin: 40px 60px;
    border-left: 2px solid $red;
    font-style: italic;
  }

  .link {
    color: $red;

    &:hover {
      text-decoration: underline;
    }
  }

  .share-buttons {
    margin: 30px 0 0;

    .share {
      padding: 0;
    }
  }
}

.share-buttons {
  path#Facebook {fill: #3c5b96;}
  path#Twitter {fill: #1da1f2;}

  .share-icon svg {
    display: inline-block;
    width: 16px;
    margin: 0 5px;
  }
}

@include breakpoint(l) {
  .article-content {

    .body, .news-title {
      padding: 0 20px;
    }
  }
}

@include breakpoint(xs) {
  .article-content {
    .blockquote {
      margin: 40px 20px;
    }
  }
}
